@charset "UTF-8";
/*IMPORTACIÓN TIPOGRAFÍAS*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Space+Grotesk:wght@300;400;500;600&display=swap");
@font-face {
  font-family: PP Eiko;
  src: url(./font/PPEiko-Medium.otf);
  font-style: normal;
  font-weight: 500;
}
/*CARACTERÍSTICAS GENERALES SITE*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  /*convertir el background en gradient animation*/
  background-size: 400% 400%;
  -webkit-animation: gradient 30s ease-in-out infinite;
          animation: gradient 30s ease-in-out infinite;
}

/*Animación de del gradiente*/
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 400%;
  }
  50% {
    background-position: 100% 450%;
  }
  100% {
    background-position: 0% 400%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 400%;
  }
  50% {
    background-position: 100% 450%;
  }
  100% {
    background-position: 0% 400%;
  }
}
/*Menu*/
input {
  /*para ocultar los inputs*/
  /*opacity: 0;
  position: absolute;*/
  top: -10000em;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.menu {
  margin-right: 2em;
  margin-left: 2em;
  background: conic-gradient(from 128.59deg at 5.61% -53.33%, #235BA3 -40.43deg, #D9D4EB 200.99deg, #235BA3 319.57deg, #D9D4EB 526.99deg);
  border-radius: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Space Grotesk", sans-serif;
  color: white;
  /*para que em mobil este abajo el menú*/
  position: absolute;
  bottom: 2em;
  left: 0;
  right: 0;
  z-index: 1;
}
@media (min-width: 900px) {
  .menu {
    margin-right: 15vw;
    margin-left: 15vw;
    position: inherit;
  }
}

.menu__label {
  padding: 0.4em;
  cursor: pointer;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  font-size: 0.8em;
}
.menu__label:hover {
  color: #002F66;
  background-size: #FBF9F0;
  background-color: #FBF9F0;
  border-radius: 19px;
  font-weight: bold;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/*Para cuando el label esta checked*/
.menu__label-checked {
  color: #002F66;
  background-size: #FBF9F0;
  background-color: #FBF9F0;
  border-radius: 19px;
  font-weight: bold;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/*Arquitectura de la página- estrcutura base de la página web*/
.scroll-area {
  overflow: hidden;
}

.cartas {
  /*detro de cartas se encuntra cada sección*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400%;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  overflow: hidden;
}

.scroll-section {
  margin-top: 35px;
  margin-bottom: 37px;
  margin-left: 35px;
  margin-right: 35px;
  width: 50%;
  height: 80vh;
  border-radius: 39px;
  /*display: flex;*/
  /*flex-direction: column;*/
}
@media (min-width: 1700px) {
  .scroll-section .max-width-cards {
    margin-left: 6.25em;
    margin-right: 6.25em;
  }
}
@media (min-width: 900px) {
  .scroll-section {
    margin-right: 15vw;
    margin-left: 15vw;
    position: inherit;
  }
}

/*SECCIÓN-- HOME*/
.home-gradient {
  background: conic-gradient(from 180.11deg at 97.88% -38.04%, #D9D4EB -288.51deg, #235BA3 5.46deg, #D9D4EB 71.49deg, #235BA3 365.46deg);
  -webkit-box-shadow: 5px 7px 21px -7px #002F66;
          box-shadow: 5px 7px 21px -7px #002F66;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 900px) {
  .home-gradient .name {
    font-size: 5.5em;
  }
  .home-gradient .descripcion__profesion {
    font-size: 23px;
  }
  .home-gradient .redes-sociales {
    font-size: 17px;
  }
}

/*H1*/
.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.6em;
  margin-left: 0.4em;
  margin-bottom: 0.12em;
  font-size: 4em;
  color: white;
  font-family: PP Eiko;
  font-style: normal;
  font-weight: 500;
  line-height: 97.19%;
}

.container__descripcion-profesion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.descripcion__profesion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.4em;
  border: 1.5px solid white;
  border-radius: 29px;
  padding: 4px 8px 4px 8px;
  margin-left: 1.7em;
  margin-right: 3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
}

.descripcion-profesion__diseñadora {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8em;
  color: white;
}

.descripcion-profesion__web-developer {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8em;
  color: white;
  margin-left: 0;
}

/*ENLACES A REDES SOCIALES*/
a:link, a:visited, a:active {
  text-decoration: none;
  color: white;
}

.redes-sociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  list-style: none;
  padding: 1.5em;
}

a:hover {
  background-color: white;
  color: #115099;
  -webkit-transition-delay: ease-in;
          transition-delay: ease-in;
  border: none;
}

.link__redes-sociales {
  border: 1.5px solid;
  border-radius: 29px;
  padding: 4px 8px 4px 8px;
}

/*SECCIÓN-- ABOUT ME*/
.about {
  /*display: flex;*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  /*@include padding-about;*/
}
@media (min-width: 1700px) {
  .about .max-width-cards {
    margin-left: 6.25em;
    margin-right: 6.25em;
  }
}

.header__about {
  font-family: PP Eiko;
  color: #002F66;
  font-size: 26px;
  margin-left: 1.7em;
  margin-right: 1.7em;
}

.frase__pequeña {
  margin-left: 1.7em;
  margin-right: 1.7em;
  font-size: 14px;
}
@media (min-width: 700px) {
  .frase__pequeña {
    font-size: 16px;
  }
}

.imagen-frasemotiv {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
}

.imagen-frasemotiv > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.imagen-frasemotiv > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.imagen-frasemotiv > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.imagen-frasemotiv > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.imagen-frasemotiv > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.imagen-frasemotiv > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.imagen-frasemotiv > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.imagen-frasemotiv > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.imagen-frasemotiv > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.imagen-frasemotiv > *:nth-child(10) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.imagen-frasemotiv > *:nth-child(11) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.imagen-frasemotiv > *:nth-child(12) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

.imagen__about {
  border-radius: 156px 0 156px 11px;
  width: 312px;
  height: 459px;
  background-image: url(../images/imagen-about.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  margin-top: 0.7em;
}
@media (min-width: 900px) {
  .imagen__about {
    width: 500px;
    height: 700px;
  }
}

.frase__motivadora {
  font-family: PP Eiko;
  color: #002F66;
  font-size: 26px;
  line-height: 103%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  margin-left: 100px;
  margin-top: 52px;
  text-align: left;
}
@media (min-width: 700px) {
  .frase__motivadora {
    margin-left: 250px;
    margin-top: 0;
  }
}
@media (min-width: 900px) {
  .frase__motivadora {
    margin-left: 450px;
    margin-top: 0;
  }
}

.contenedor-universidad-creadora {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 700px) {
  .contenedor-universidad-creadora {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 5em;
    margin-left: 5em;
  }
}

.etapa__universitaria, .frase__creadora {
  margin-left: 1.7em;
  margin-right: 1.7em;
  text-align: left;
  font-size: 14px;
}
@media (min-width: 700px) {
  .etapa__universitaria, .frase__creadora {
    font-size: 16px;
  }
}

.frase-despedida {
  font-size: 14px;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
  margin-top: 1.3em;
}
@media (min-width: 700px) {
  .frase-despedida {
    font-size: 16px;
  }
}

.cotainer-icons {
  margin-bottom: 1.5em;
}

.icon__cafe {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

/*SECCIÓN-- FORTALEZAS*/
.container-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 0.25fr 0.25fr;
  grid-template-rows: 0.25fr 0.25fr;
}
.container-header > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.container-header > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.container-header > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.container-header > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
@media (min-width: 900px) {
  .container-header {
    margin-left: 5em;
    margin-top: 2em;
  }
  .container-header .header__skills {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    margin-top: 1.5em;
  }
  .container-header .container-parrafos {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    grid-row: 2/2;
  }
  .container-header .container-ilustracion {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-grid-column-align: center;
        justify-self: center;
    margin: none;
  }
}

.header__skills {
  font-family: PP Eiko;
  color: #002F66;
  font-size: 26px;
  margin-right: 1em;
  margin-top: 1em;
  margin-left: 1.5em;
  margin-bottom: 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.container-parrafos {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  grid-row: 2/2;
}
@media (min-width: 700px) {
  .container-parrafos {
    font-size: 16px;
  }
}

.container-ilustracion {
  background-image: url(../images/ilustracion-fortalezas.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 261px;
  height: 318px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin-top: 3em;
  margin-right: 2.5em;
}

.p__header-skills {
  margin-left: 2.4em;
  margin-right: 1.5em;
}

/*segundo encabezado sección FORTALEZAS*/
.container-skills-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 900px) {
  .container-skills-arrow {
    margin-right: 5em;
    margin-left: 5em;
  }
  .container-skills-arrow .arrow__skills {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.margin {
  margin-left: 1.5em;
  margin-top: 1.8em;
}

.arrow__skills {
  fill: #002F66;
  width: 80px;
  height: 80px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/*container donde va cada fortaleza*/
.container-contenido-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
@media (min-width: 1000px) {
  .container-contenido-skills {
    margin-left: 6.5em;
    margin-right: 6.5em;
    margin-bottom: 4em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[2];
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .container-contenido-skills > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .container-contenido-skills > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .container-contenido-skills > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .container-contenido-skills > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .container-contenido-skills > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .container-contenido-skills > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .container-contenido-skills .container-diseño {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-column-align: center;
        justify-self: center;
    height: 318px;
    width: 318px;
  }
  .container-contenido-skills .container-web {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    grid-row: 2/2;
    -ms-grid-column-align: center;
        justify-self: center;
    height: 318px;
    width: 318px;
  }
  .container-contenido-skills .container-seo {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    grid-row: 2/2;
    -ms-grid-column-align: center;
        justify-self: center;
    height: 318px;
    width: 318px;
  }
  .container-contenido-skills .title__skill {
    font-size: 1.5em;
  }
}
@media (min-width: 700px) {
  .container-contenido-skills {
    font-size: 16px;
  }
}

/*estilos a cada fortaleza*/
.container-diseño {
  width: 281px;
  height: 281px;
  background: radial-gradient(58.46% 50% at 50% 50%, #DCEBCE 36.57%, #FBF9F000 87.31%);
  margin-bottom: 2em;
}

.container-web {
  width: 281px;
  height: 281px;
  background: radial-gradient(58.46% 50% at 50% 50%, #D9D4EB 36.57%, #FBF9F000 87.31%);
}

.container-seo {
  width: 281px;
  height: 281px;
  background: radial-gradient(58.46% 50% at 50% 50%, rgba(68, 130, 202, 0.62) 0%, #FBF9F000 82.6%, #FBF9F000 100%);
}

.title__skill {
  font-family: PP Eiko;
  color: #002F66;
  font-size: 26px;
  font-size: 1.4em;
  margin-top: 2em;
  margin-left: 1.8em;
  margin-right: 1.8em;
}

/*SECCIÓN-- CONTACT*/
.call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 900px) {
  .call {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .call .call {
    overflow-y: hidden;
  }
  .call .container-header-arrow {
    width: 23em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media (min-width: 900px) and (min-width: 1700px) {
  .call .container-header-arrow {
    font-size: 1.3em;
  }
}
@media (min-width: 900px) {
  .call .container-arrow {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    width: 308px;
    margin: 0;
  }
}
@media (min-width: 900px) {
  .call .contact-form {
    /*display: flex;
    align-items: center;
    flex-direction: column;*/
    min-width: 60%;
    max-width: 80%;
  }
}

.container-header-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__contact {
  font-size: 3em;
  font-family: PP Eiko;
  line-height: 110%;
  color: #002F66;
  margin-left: 0.7em;
  margin-top: 1em;
  margin-bottom: 0;
  max-width: 18em;
}

.container-arrow {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 80px;
  margin-right: 2em;
}

.arrow__contact {
  -webkit-transform: rotate(90);
          transform: rotate(90);
  fill: #002F66;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*justify-content: center;*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4em;
}

.contact-imput {
  min-width: 80%;
  /*max-width: 100%;*/
  height: 4rem;
  margin-bottom: 1em;
  background: transparent;
  outline: 0;
  border: 0;
  border-bottom: 1.5px solid #7799C0;
  font-family: "Space Grotesk", sans-serif;
}

/*BOTÓN ENVIAR, SECCIÓN CONTACTO*/
.button {
  border-radius: 36px;
  border: none;
  background-color: #DCEBCE;
  font-size: 12px;
  font-family: "Space Grotesk", sans-serif;
  min-height: 30px;
  min-width: 122px;
  color: #002F66;
  margin-top: 2em;
  margin-bottom: 1.2em;
  font-weight: bolder;
  cursor: pointer;
}

/*ESTILOS ETIQUETA <span> HTML-->para seccion about*/
.texto-oculto {
  display: none;
  cursor: pointer;
  font-size: 14px;
  margin-top: 0.7em;
}
@media (min-width: 700px) {
  .texto-oculto {
    font-size: 16px;
  }
}

.plus {
  cursor: pointer;
}

.menos {
  display: none;
}

/*funcionamiento de la transición de las secciones: ABOUT, FORTALEZAS, CONTACTO*/
.home_input:checked ~ .cartas {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.about_input:checked ~ .cartas {
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
}

.skills_input:checked ~ .cartas {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.contact_input:checked ~ .cartas {
  -webkit-transform: translateX(-75%);
          transform: translateX(-75%);
}

/*background-color secciones y tipografía base*/
.about, .skills, .call {
  background-color: #FBF9F0;
  font-family: "Space Grotesk", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  /*darle estilos al scroll*/
}
@media (min-width: 900px) {
  .about .tipo-desktop, .skills .tipo-desktop, .call .tipo-desktop {
    font-size: 2em;
  }
}
.about::-webkit-scrollbar, .skills::-webkit-scrollbar, .call::-webkit-scrollbar {
  height: 10px;
  width: 5px;
}
.about::-webkit-scrollbar-thumb, .skills::-webkit-scrollbar-thumb, .call::-webkit-scrollbar-thumb {
  background: transparent;
  /*si la pongo en color se ve fea, nose si dejarla en color o transparent*/
  border-radius: 20px;
}