/*SECCIÓN-- ABOUT ME*/
.about{
    /*display: flex;*///nose pk esto hace q no se vea la imagen//
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: $normal-text;
    @include max-width-interior-cards;
    /*@include padding-about;*///peligroso, jode tamaño cartas
}
    .header__about{
        @include estilo-headers;
        margin: {
            left: 1.7em;
            right: 1.7em;
        }
        // @include  margin-about-desktop;
    }
    
    .frase__pequeña{
        margin: {
            left: 1.7em;
            right: 1.7em;
        }
        font-size: $font-size;
        // @include  margin-about-desktop;    
        @include tipografia-desktop;
    }

    .imagen-frasemotiv{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
        .imagen__about{
            border-radius:156px 0 156px 11px;
            width: 312px;
            height: 459px;
            @include imagen-about;
            background-image: url(../images/imagen-about.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0 auto;
            grid-column: 2/4;
            grid-row: 1/4;
            margin-top: $margin-left;
        }
            
        .frase__motivadora{
            @include estilo-headers;
            line-height: 103%;
            //tengo q poner texto encima de la imagen//
            grid-column: 2/4;
            grid-row: 3/4;
            margin-left:100px;
            margin-top: 52px;
            text-align: left;
            //mirar a ver si esta bien echo eso de poner margins y lo del grid//
            @include frase-motivadora-tablet;
            @include frase-motivadora-desktop;     
        }
    
    .contenedor-universidad-creadora{
        display: flex;
        flex-direction: column;
        @include direccion-row;
        
    }
        .etapa__universitaria, .frase__creadora{
            margin: {
                left: 1.7em;
                right: 1.7em;
            }
            text-align: left;
            font-size: $font-size;
            @include tipografia-desktop;
        }
    
    .frase-despedida{
        font-size: $font-size;
        @include tipografia-desktop;
        margin: {
            left: 2em;
            right: 2em;
            bottom: 2em;
            top: 1.3em;
        }
    }
    .cotainer-icons{
        margin-bottom: 1.5em;
    }
        .icon__cafe{
            margin: {
                left: 1.5em;
                right: 1.5em;
            }
        }

    
    