/*Arquitectura de la página- estrcutura base de la página web*/
.scroll-area{
    overflow: hidden;
}

.cartas{
    /*detro de cartas se encuntra cada sección*/
    display: flex;
    width: 400%;
    transition: transform .3s ease-in-out;
    overflow:hidden;
}
.scroll-section{
    @include max-width-interior-cards;
    margin: {
        top:35px;
        bottom:37px;
        left:35px;
        right:35px;
    }
    width: 50%;
    height: 80vh;
    border-radius: 39px;
    /*display: flex;*///nose pk si activo esto hace q no se vea la imagen del about//
    /*flex-direction: column;*/
    @include desktop;
}