/*Menu*/
input{
    /*para ocultar los inputs*/
    /*opacity: 0;
    position: absolute;*/
    top: -10000em;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.menu{
    margin:{
        right: 2em;
        left:2em;
        top:1.5em;
    }
    background: $gradient-menu;
    border-radius: 19px; //$border-radius-menu;//
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    font-family: $normal-text;
    color: white;
    @include desktop;
}
    .menu__label{ 
        padding: .4em;
        cursor: pointer;
        margin:{
            top:.2em;
            bottom:.2em;
        }
        font-size: .8em;
        &:hover{
            color: $darcker-blue;
            background-size:$corporativo-secundario;
            background-color: $corporativo-secundario;
            border-radius:19px;//$border-radius-menu;//
            font-weight: bold;
            opacity: 1;
            transition: 0.2s;
        }
    }