/*background-color secciones y tipografía base*/
.about, .skills, .call{
    background-color: $corporativo-secundario;
    font-family: $normal-text;
    overflow-y: scroll;
    &::-webkit-scrollbar{
        height: 10px;
        width: 5px;
        
    }
    &::-webkit-scrollbar-thumb{
        background:transparent;/*si la pongo en color se ve fea, nose si dejarla en color o transparent*/
        border-radius: 20px;
    }

}


