/*funcionamiento de la transición de las secciones: ABOUT, FORTALEZAS, CONTACTO*/
.home_input:checked ~ .cartas{
    transform: translateX(0);
}
.about_input:checked ~ .cartas{
    transform: translateX(-25%);
}
.skills_input:checked ~ .cartas{
    transform: translateX(-50%);
}
.contact_input:checked ~ .cartas{
    transform: translateX(-75%);
}