//mixin para font-size en los headers//
@mixin font-desktop-headers{
    @media (min-width:900px){
        .tipo-desktop{
            font-size: $font-size-headers-desktop;
        }
    }
}

//h2 style//
@mixin h2Style{
    margin-top:0;
    margin-bottom: 0;
    font-family:$h2-home;
    font-style: normal;
    font-weight: normal;
    font-size: .8em;
    color: white;
}
//mixin para max-width del interior de las cartas, para que en pantallas superiores a 1000 no se vea feo//
@mixin max-width-interior-cards{
    @media (min-width:1700px){
        .max-width-cards{
            margin-left: 6.25em;
            margin-right: 6.25em;
        }
    }
}
//margenes para desktop//
@mixin margenesDesktop{
     margin: {
        right:15vw;
        left: 15vw;
    }
    position: inherit;
}
//mixin para estilos headers//
@mixin estilo-headers{
    font-family: $headers;
    color: $darcker-blue;
    font-size: 26px;
}
////////////////HOME////////////////
@mixin tipografía-home-desktop{
    @media (min-width:900px){
        .name{
            font-size: 5.5em;
        }
        .descripcion__profesion{
            font-size: 23px;
        }
        .redes-sociales{
            font-size: 17px;
        }
    }
}
////////////////ABOUT////////////////
//mixin padding seccion about para desktop//
@mixin padding-about{
    @media (min-width:900px){
        padding: {
            left: 100px;
            right: 100px;
        }
    }
}
//mixin para margenes en desktop seccion about//LO DEJO COMENTADO PK NO CREO Q HAGA FALTA
// @mixin margin-about-desktop{
//     @media (min-width:900px){
//         margin: {
//             left:$margin-intro-about;
//             right:$margin-intro-about;
//         }
//     }
// }
//mixin para tamaño imagen en desktop//
@mixin imagen-about{
    @media (min-width:900px){
        width:500px ;
        height: 700px;
    }
}
//mixin para texto en desktop//
@mixin frase-motivadora-desktop{
    @media (min-width:900px) {
        margin-left:450px ;
        margin-top: 0;
    }
}

//mixin frase motivadora en en tablet//
@mixin frase-motivadora-tablet{
    @media (min-width:700px) {
        margin-left:250px ;
        margin-top: 0;
    }
}
//mixin para cambiar a row en desktop los dos ultimos parrafos del about//
@mixin direccion-row{
    @media (min-width:700px) {
        flex-direction: row;
        margin: {
            right: 5em;
            left: 5em;
        }
    }
}
//mixin para tipografia en desktop//
@mixin tipografia-desktop{
    @media (min-width:700px) {
        font-size: 16px;
    }
}
//////////////FORTALEZAS/////////////////////////////////

//mixin flex para desktop primera parte de fortalezas//
@mixin grid-header-skills{
    @media (min-width:900px) {
        margin-left: 5em;
        margin-top: 2em;
        .header__skills{
            grid-column: 1/2;
            grid-row: 1/2;
            margin-top: 1.5em;
        }
        .container-parrafos{
            grid-column: 1/2;
            grid-row: 2/2;
        }
        .container-ilustracion{
            grid-column: 2/3;
            grid-row:1/3;
            justify-self: center;
            margin: none;
        }
    }
}
//mixin margin right encabezados skills//
@mixin margin-skills{
    @media (min-width:900px) {
        margin-right:5em;
        margin-left: 5em;
        .arrow__skills{
            align-self: center;
        }
        
    }
}
//mixin flex para desktop segunda parte de fortalezas//
@mixin grid-fortalezas{
    @media (min-width:1000px) {
        margin: {
            left: 6.5em;
            right: 6.5em;
            bottom: 4em;
        }
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        // row-gap: 4em;
        justify-items: center;
        justify-content: space-evenly;
        .container-diseño{
            grid-column: 2/3;
            justify-self: center;
            height: $medida-bola-desktop;
            width: $medida-bola-desktop;
        }
        .container-web{
            grid-column: 1/2;
            grid-row: 2/2;
            justify-self: center;
            height: $medida-bola-desktop;
            width: $medida-bola-desktop;
        }
        .container-seo{
            grid-column: 3/4;
            grid-row: 2/2;
            justify-self: center;
            height: $medida-bola-desktop;
            width: $medida-bola-desktop;
        }  
        .title__skill{
            font-size: 1.5em;
        }
    }
}
////////////////CONTACT////////////////
//mixin flex contact//
@mixin flexbox-contact{
   display: flex;
   flex-direction:row ;
   align-items: center;
   justify-content: center;
   .call{
       overflow-y: hidden;//para quitar scroll en desktop, pero no funciona//
   }
    .container-header-arrow{
        width: 23em;
        @media (min-width:1700px){
            font-size: 1.3em;
        }
        flex-direction: row;
        justify-content: flex-end;

    }
    .container-arrow{
        transform: rotate(270deg);
        width: 308px;
        margin: 0;
    }
    .contact-form{
        /*display: flex;
        align-items: center;
        flex-direction: column;*/
        min-width: 60%;
        max-width: 80%;//nose pk hay q repetir esa medida si en mobile ya esta puesta, pero si no la pongo d problema//
    }
}
//mixins para responsive--> desktop//
@mixin desktop{
    @media (min-width:900px) {
        @include margenesDesktop();
    }
}
//mixin para desktop--> contact//
@mixin desktop-contact{
    @media (min-width:900px){
        @include flexbox-contact();
    }
}

