/*BOTÓN ENVIAR, SECCIÓN CONTACTO*/

.button{
    border-radius: 36px;
    border: none;
    background-color:$corporativo-cuaternario;
    font-size: 12px;
    font-family: $normal-text;
    min-height: 30px;
    min-width: 122px;
    color: $darcker-blue;
    margin-top:2em;
    margin-bottom: 1.2em;
    font-weight: $bold;
    cursor: pointer;
    &:hover{
        background-color: $corporativo-terciario;
    }
}