/*ESTILOS ETIQUETA <DETAILS> HTML-->para secciones about y fortalezas*/
.details__about{
    list-style-type: none;
}

.summary__about::marker{
    content:url(/images/icon-plus.svg);
    list-style-type: none;
}

