/*ESTILOS ETIQUETA <DETAILS> HTML-->para secciones about y fortalezas*/
/*details{
    display: none;
    list-style-type: none;

}
details::marker{
    content:"hola";
    display: none;
    list-style-type: none;
}*/

